@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p{
  margin: 0;
}

body {
  /* color: #fff !important; */
  font-family: 'Sora', sans-serif !important;
  background-color: #222222 !important;
}

