.navbarMain {
  .innerWrapper {
    width: 85%;
    margin: 0 auto;
  }
  .navItems{
    a{
      color: #ffffff;
      cursor: pointer;
      text-decoration: none !important;
      &:hover{
        color: #000000;
      }
    }
    p{
      color: #ffffff;
      cursor: pointer;
      font-size: 15px;
      &:hover{
        color: #919191;
      }
    }
    @media (max-width: 768px) {
      display: none !important;
    }
  }
  
}

.navResMenu{
  a{
    color: #ffffff;
    cursor: pointer;
    text-decoration: none !important;
    text-align: center;
    font-size: 16px !important;
    &:hover{
      color: #d1d1d1;
    }
  }
  p{
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 16px !important;
    &:hover{
      color: #d1d1d1;
    }
  }
}
