.landingPageMain {
  overflow: hidden;
  .scrollCcv {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 5vh;
    p{
      color: #7a7a7a;
    }
    .ranMouse {
      width: 20px;
      height: 30px;
      border: 2.3px solid #7a7a7a;
      border-radius: 20px;
      position: relative;
      .mouseScroll {
        background-color: #000000;
        position: absolute;
        width: 4px;
        height: 6px;
        border-radius: 10px;
        left: 0;
        right: 0;
        top: 5px;
        margin: 0 auto;
        animation: moveUpDown 2s infinite;
      }
      @keyframes moveUpDown {
        0% {
          top: 5px;
        }
        50% {
          top: 10px;
        }
        100% {
          top: 5px;
        }
      }
    }
  }
  .landOpener {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .textHero {
      width: 60%;
      margin: 0 auto;
      text-align: center;
      margin-top: 22px;
      margin-bottom: 30px;
      @media (max-width: 768px) {
        width: 80% !important;
      }
    }
  }
  .aboutSection {
    .aboutImage{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        @media (max-width: 768px) {
          width: 90% !important;
          height: fit-content !important;
        }
      }
    }
    .sectionMainAbout {
      background-color: #583af1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 88px 0px;
      position: relative;
      p {
        width: 55%;
        text-align: center;
        @media (max-width: 768px) {
          width: 80% !important;
        }
      }
    }
    .sectionMainAboutExtended {
      width: 85%;
      margin: 0 auto;
      background-color: #fff;
      height: fit-content;
      border-radius: 20px;
      padding: 50px;
      margin-top: -246px;
      box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
      position: relative;
      @media (max-width: 600px) {
        width: 90%;
        padding: 20px;
      }
    }
    .sectionMainStartupExtended {
      width: 85%;
      margin: 0 auto;
      height: fit-content;
      margin-top: -138px;
      position: relative;
      .startupDisCards {
        background-color: #fff;
        width: 100%;
        // height: 250px;
        border-radius: 20px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        align-items: center;
        p{
          @media (max-width: 600px) {
            height: fit-content !important;
          }
        }
        .tag {
          align-items: center;
          background-color: #ededf0;
          border-radius: 4px;
          color: #141c3a;
          display: inline-flex;
          font-size: 0.75rem;
          height: 2em;
          justify-content: center;
          line-height: 1.5;
          padding-left: 0.75em;
          padding-right: 0.75em;
          white-space: nowrap;
        }
      }
    }
  }
  
  .wrapperRecentWork {
    width: 85%;
    margin: 0 auto;
    .bxCardsProjects {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      gap: 10px;
    }
  }
}
